<header>
  <custom-nav></custom-nav>
</header>

<body>
  <div id="main">
    <div class="container">
      <div id="intro">
        <div class="white-text">
          <h2 id="title">DANILO JOKSIMOVIC</h2>
          <hr>
          <h6 id="intro-paragraph">I am a
           software engineering student at the University of Waterloo.<br>
            I'm currently working at BlackBerry as a Software Experience Labs Student.
            As you surf through my website, you’ll see all my collaborative and personal
            <a class="linkproject linkwaterloo" routerLink="projects">projects</a>
            <br>Feel free to check out my
            <a class="linkgit linkwaterloo" href="https://github.com/djoksimo" target="_blank">GitHub</a> account,
            <a class="linkedin linkwaterloo" href="https://www.linkedin.com/in/djoksimo/" target="_blank">LinkedIn</a> account, and
            <a class="linkwaterloo" href="../../assets/Danilo_Joksimovic_Resume.pdf" target="_blank"> resume</a>.</h6>
          <br>
          <a class="btn btn-outline-white waves-light" mdbWavesEffect href="../../assets/Danilo_Joksimovic_Resume.pdf" target="_blank">Resume</a>
          <a class="btn btn-outline-white waves-light" mdbWavesEffect href="https://github.com/djoksimo"  target="_blank">Github
            <i class="fa fa-github left" id="github-icon" aria-hidden="true" mdbWavesEffect aria-hidden="true"></i>
          </a>
          <a class="btn btn-outline-white waves-light" mdbWavesEffect href="mailto:djoksimo@uwaterloo.ca">Email</a>
        </div>
      </div>
    </div>
  </div>
</body>
