<custom-nav></custom-nav>

<body>
  <div id="main" class="container text-center">
    <video controls>
      <source src="../../assets/about.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>
  <custom-particles></custom-particles>

  <!--<div id="main">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col">-->
          <!--<h2 class="title" class="animated slideInLeft">IAM ROLE: Danilo Joksimovic</h2>-->
          <!--<hr class="animated bounceInLeft">-->
          <!--<ul class="intro-list">-->
            <!--<li class="animated bounceInLeft">-->
              <!--Born and raised in Toronto, Ontario-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Fluent in English, French, and Serbian-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Currently a student in the Software Engineering class of 2023 at the University of Waterloo-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Ran a full marathon at the age of 17-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Competed in water polo internationally for five years-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col">-->
          <!--<div class="card me-card animated slideInRight">-->

            <!--&lt;!&ndash;Card image&ndash;&gt;-->
            <!--<div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>-->
              <!--<img-->
                <!--src="../../assets/Danilo_Joksimovic_Portrait.jpg"-->
                <!--id="me-photo"-->
                <!--class="img-fluid"-->
                <!--alt="Danilo Portrait">-->
              <!--<a>-->
                <!--<div class="mask"></div>-->
              <!--</a>-->
            <!--</div>-->

            <!--&lt;!&ndash;Card content&ndash;&gt;-->
            <!--<div class="card-body">-->
              <!--&lt;!&ndash;Title&ndash;&gt;-->
              <!--<h4 class="card-title">Software Engineer</h4>-->
              <!--&lt;!&ndash;Text&ndash;&gt;-->
              <!--<p>Passionate about innovation</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col">-->
          <!--<div class="card tgj-card animated slideInLeft">-->

            <!--&lt;!&ndash;Card image&ndash;&gt;-->
            <!--<div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>-->
              <!--<img src="../../assets/tgj.jpg" id="tgj-photo" class="img-fluid" alt="Toronto Golden Jets">-->
              <!--<a href="https://torontogoldenjets.ca/" target="_blank">-->
                <!--<div class="mask"></div>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="card-body">-->
              <!--<h4 class="card-title">Toronto Golden Jets</h4>-->
              <!--<p>Water Polo Club</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col">-->
          <!--<ul class="intro-list">-->
            <!--<li class="animated bounceInLeft">-->
              <!--Played for the Toronto Golden Jets water polo club for 5 years-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Started competing in the U19 National Championship league of Water Polo Canada at the age of 16-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Titled National Champion in the Men’s League of Water Polo (MLWP) of Water Polo Canada at the age of 17-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--In the 2016-2017 season, led the Lawrence Park C.I water polo team as captain and my school won its-->
              <!--first City Champion title-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Travelled to British Columbia, Alberta, Quebec, Montenegro, and Serbia to compete in national-->
              <!--and international water polo tournaments-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col" >-->
          <!--<ul class="intro-list" id="marathon-list">-->
            <!--<li class="animated bounceInLeft">-->
              <!--Ran at 5:30 a.m. five times a week for two months-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--After gaining confidence in my running endurance, I signed up for a full marathon-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Competed in the MEC full marathon (42.2km) on September 11, 2016-->
            <!--</li>-->
            <!--<li class="animated bounceInLeft">-->
              <!--Finished in 24th place-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col">-->
          <!--<div class="card marathon-card animated slideInRight">-->
            <!--<div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>-->
              <!--<img src="../../assets/marathon.jpg" id="marathon-img" class="img-fluid" alt="Marathon">-->
              <!--<a href="https://speedrivertiming.com/res/mt616.htm#%204">-->
                <!--<div class="mask"></div>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="card-body">-->
              <!--<h4 class="card-title">MEC Full Marathon</h4>-->
              <!--<p>Photo taken at finish line</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</body>
