<custom-nav></custom-nav>
<body>
  <!--TODO: Add ng-for and separate cards to universal card component-->
  <div id="projects-grid">
    <div class="container">
      <div class="row animated slideInDown">
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img
                src="../../assets/ratemycourses.jpg"
                href="https://play.google.com/store/apps/details?id=com.ratemycourses.app"
                class="img-fluid"
                id="srvice-img"
                 alt="Rate My Courses">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Rate My Courses</h4>
              <!--Text-->
              <p>Multi-platform app which improves course selection for university students</p>
              <a
                class="btn btn-primary waves-light"
                href="https://play.google.com/store/apps/details?id=com.ratemycourses.app"
                target="_blank"
                mdbWavesEffect>Download</a>
              <a
                class="btn btn-primary waves-light"
                href="https://ratemycourses.org"
                target="_blank"
                mdbWavesEffect>Website</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img
                src="../../assets/wathaus.png"
                class="img-fluid"
                href="https://github.com/djoksimo/WatHaus.AI"
                target="_blank"
                alt="WatHaus.AI">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">WatHaus.AI</h4>
              <!--Text-->
              <p>Web app made with React.JS, Ruby on Rails, and PostgreSQL to
                help University of Waterloo students find the right housing</p>
              <a
                class="btn btn-primary waves-light"
                mdbWavesEffect
                href="https://github.com/djoksimo/WatHaus.AI"
                target="_blank">Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img
                src="../../assets/onceupon.png"
                class="img-fluid"
                href="https://github.com/djoksimo/OnceUponATime"
                target="_blank"
                alt="Once Upon A Time">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Once Upon a Time</h4>
              <!--Text-->
              <p>Android app which dynamically spawns, destroys, translates and rotates 3D
                models according to a story being spoken into a microphone</p>
              <a
                class="btn btn-primary waves-light"
                mdbWavesEffect
                href="https://github.com/djoksimo/OnceUponATime"
                target="_blank">Github Repo</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row animated slideInDown">
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img
                src="../../assets/naughtyornice.png"
                class="img-fluid"
                href="https://github.com/djoksimo/NaughtyOrNice"
                target="_blank"
                alt="Naughty or Nice">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Naughty or Nice</h4>
              <!--Text-->
              <p>Web app which uses a neural network to analyze social media accounts</p>
              <a
                class="btn btn-primary waves-light"
                mdbWavesEffect
                href="https://github.com/djoksimo/NaughtyOrNice"
                target="_blank">Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/flappyfuture.png" class="img-fluid" id="delta-img" alt="Flappy Future">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Flappy Future</h4>
              <!--Text-->
              <p>Educational VR Android video game developed for Google Cardboard with Leap Motion compatibility</p>
              <a
                class="btn btn-primary waves-light"
                href="https://github.com/djoksimo/FlappyFuture"
                mdbWavesEffect>Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/cheatday.png" class="img-fluid" id="fitbit-img" alt="Fitbit Project">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Cheat Day</h4>
              <!--Text-->
              <p>Currently working on Fitbit and Android app that analyzes collected data with AI</p>
              <a
                class="btn btn-primary waves-light"
                mdbWavesEffect
                href="https://github.com/djoksimo/fitbit">Github Repo</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row animated justify-content-left slideInUp">
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/dhmo.png" class="img-fluid" target="_blank" id="dhmo-img" alt="DHMO Destroyer">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">DHMO Destroyer</h4>
              <!--Text-->
              <p>Android app controlled DC motor boat developed with the Arduino platform</p>
              <a
                class="btn btn-primary waves-light"
                href="https://github.com/djoksimo/DHMODestroyer"
                target="_blank" mdbWavesEffect>Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/mountainviews.png" class="img-fluid" id="mountain-img" alt="Mountain Views">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Mountain Views</h4>
              <!--Text-->
              <p>Social media and backcountry safety platform for outdoor enthusiasts. Created at PennApps XVII</p>
              <a
                class="btn btn-primary waves-light"
                href="https://github.com/djoksimo/MountainViews"
                target="_blank" mdbWavesEffect>Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/ravepi.png" class="img-fluid" id="sound-img" alt="RavePi">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">RavePi</h4>
              <!--Text-->
              <p>Raspberry Pi controller that changes the colours in an LED strip according to the beat of any song</p>
              <a
                class="btn btn-primary waves-light"
                href="https://github.com/djoksimo/RavePi"
                target="_blank" mdbWavesEffect>Github Repo</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <custom-particles></custom-particles>
</body>
