body {
  width: 100vw;
  height: 100vh;
  padding-top: 7em;
  padding-bottom: 3em;
  color: #ffffff;
  overflow-x: hidden;
}

#projects-grid{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

hr{
  background: #ffffff;
}

#mountain-img{
  transform: scale(1.2);
}

#srvice-img{
  padding-top: 98.65px;
  padding-bottom: 98.65px;
}

#dhmo-img{
  padding-top: 43.76px;
  padding-bottom: 43.76px;
  transform: scale(1.4);
}

#fitbit-img{
  padding-top: 2px;
  padding-bottom: 2px;
  transform: scale(0.8);
}

.card-body{
  background: #00838f;
  color: #ffffff;
}

.card {
  height: 576px;
  width: 350px;
}
