<custom-nav></custom-nav>
<body>
  <div id="projects-grid">
    <div class="container">
      <div class="row animated slideInDown">
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/naughtyornice.png" class="img-fluid" href="https://github.com/djoksimo/NaughtyOrNice" target="_blank" alt="Naughty or Nice">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Naughty or Nice</h4>
              <!--Text-->
              <p>Web app which uses a neural network to analyze social media accounts</p>
              <a class="btn btn-primary waves-light" mdbWavesEffect href="https://github.com/djoksimo/" target="_blank">Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/mountainviews.png" class="img-fluid" id="mountain-img" alt="Mountain Views">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Mountain Views</h4>
              <!--Text-->
              <p>Social media and backcountry safety platform for outdoor enthusiasts. Created at PennApps XVII</p>
              <a class="btn btn-primary waves-light" href="https://github.com/djoksimo/MountainViews" target="_blank" mdbWavesEffect>Github Repo</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/srvice.jpg" class="img-fluid" id="srvice-img" alt="Srvice">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Srvice</h4>
              <!--Text-->
              <p>Multi-platform app for finding and scheduling appointments with skilled-workers in your area. WIP</p>
              <a class="btn btn-primary waves-light" href="https://srvice.ca" target="_blank" mdbWavesEffect>Srvice Website</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row animated slideInUp">
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/deltahacks.png" class="img-fluid" id="delta-img" alt="Flappy Future">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Flappy Future</h4>
              <!--Text-->
              <p>VR Android App made for the Google Cardboard with Leap Motion</p>
              <a class="btn btn-primary waves-light" href="https://github.com/djoksimo/FlappyFuture" mdbWavesEffect>Github Repo</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/fitbit.png" class="img-fluid" id="fitbit-img" alt="Fitbit Project">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Cheat Day</h4>
              <!--Text-->
              <p>Fitness app made with the Fitbit SDK. WIP</p>
              <a class="btn btn-primary waves-light" mdbWavesEffect href="https://github.com/djoksimo/fitbit">Github Repo</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <!--Card image-->
            <div class="view hoverable hm-white-slight waves-light" mdbWavesEffect>
              <img src="../../assets/dhmo.png" class="img-fluid" target="_blank" id="dhmo-img" alt="DHMO Destroyer">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">DHMO Destroyer</h4>
              <!--Text-->
              <p>Arduino remote controlled boat via Android app</p>
              <a class="btn btn-primary waves-light" href="https://github.com/djoksimo/DHMODestroyer" target="_blank" mdbWavesEffect>Github Repo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
