body {
  width: 100vw;
  height: 100vh;
  padding-top: 7em;
  padding-bottom: 3em;
  color: #ffffff;
  overflow-x: hidden;
}

#projects-grid{
  position: relative;
  z-index: 10 !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.img-fluid {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

#sound-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

hr{
  background: #ffffff;
}

#mountain-img{
  transform: scale(1.2);
}

#srvice-img{
  width: 350px;
  height: 350px;
  object-fit: contain;
}

#dhmo-img{
  padding-top: 43.76px;
  padding-bottom: 43.76px;
  transform: scale(1.4);
}

#fitbit-img{
  padding-top: 2px;
  padding-bottom: 2px;
  transform: scale(0.8);
}

.card-body{
  background: #002884;
  color: #ffffff;
}

.card {
  height: 576px;
  width: 350px;
}
