#custom-nav{
  height: 1em;
}

links{
  font-size: 1em;
}

.navbar-brand{
  padding-left: 4em;
}

#github-icon, #linkedin-icon {
  font-size: 1.9em;
}
#linkedin-icon{
  padding-right: 4em;
}


#github-icon:hover,
#linkedin-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

#custom-nav, .navbar, .navbar-brand, links {
  width: 100%;
  color: #ffffff;
}

.navbar-nav li:hover {
  cursor: pointer;
}

button.navbar-toggler{
  float: right;
}

@media (max-width: 767px) {
  .fixed-top {
    position: relative;
    top: auto;
  }
  .navbar {
    max-height: none;
  }
  body {
    margin: 0;
  }
}

//#contact-button, #resume-button {
//  width: 20em;
//  font-size: 1em;
//}
