#github-icon, #linkedin-icon {
  font-size: 2em;
}

#github-icon:hover,
#linkedin-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

#custom-nav, .navbar, .navbar-brand, links {
  width: 100%;
  color: white;
}

.navbar-nav li:hover {
  cursor: pointer;
}

#resume-button{
  display: block;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 9em;
  height: 3em;
}

#contact-dropdown {
  display: block;
  padding-top: 0.13em;
}

#contact-button {
  //padding: 0;
  width: 12em;
  height: 3em;
}
