@font-face {
  font-family: Nunito;
  src: url(assets/Nunito-Black.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(assets/Comfortaa-Regular.ttf);
}


html, body{
  font-family: "Comfortaa";
}


