@font-face {
  font-family: Nunito;
  src: url(assets/Nunito-Black.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(assets/Comfortaa-Regular.ttf);
}


html, body{
  font-family: "Comfortaa";
}

.primary {
  background: #00838f;
}

.primary-light {
  background: #4fb3bf;
}

.primary-dark {
  background: #005662;
}

.secondary {
  background: #b71c1c;
}

.secondary-light {
  background: #f05545;
}

.secondary-dark {
  background: #7f0000;
}

.primary-text {
  color: #ffffff;
}
