<custom-nav></custom-nav>+14168040390
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<body>
<div id="main">
  <h2 class="text-center" id="title">Experience</h2> <br>
  <div id="scene">
    <div class="skills text-center">
      <div class="white-text container">
        <div class="row">
          <div class="row justify-content-md-center">
            <div class="col">
              <i class="devicon-javascript-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-java-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-c-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-cplusplus-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-csharp-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-typescript-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-amazonwebservices-original"></i>
            </div>
            <div class="col">
              <i class="devicon-express-original"></i>
            </div>
            <div class="col">
              <i class="devicon-python-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-html5-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-css3-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-angularjs-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-react-original"></i>
            </div>
            <div class="col">
              <i class="devicon-nodejs-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-mongodb-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-git-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-android-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-apache-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-bootstrap-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-nginx-original"></i>
            </div>
            <div class="col">
              <i class="devicon-trello-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-ubuntu-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-docker-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-ruby-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-rails-plain"></i>
            </div>
            <div class="col">
              <i class="devicon-postgresql-plain"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pdf-viewer src="../../assets/Danilo_Joksimovic_Resume.pdf"></pdf-viewer>
</div>

</body>
