#myInput {
    display: none;
    width: 0;
    height: 0;
}

.abouttitle {
    font-size: 85px;
    font-family: 'Roboto', sans-serif;
}

.marathon {
    max-width: 50%;
    max-height: 50%;
}

.container {
    overflow-y: auto;
}

.serbiaflag {
    width: 270px;
    height: 200px;
    display: inline-block;
}

.waterpolo1 {
    width: 400px;
    height: 350px;
    display: block;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block
}

.waterpolo2 {
    width: 450px;
    height: 350px;
    display: block;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block
}

.mephoto {
    background-color: rgb(33, 90, 128);
    width: 15%;
    height: 15%;
}

footer {
    text-align: right;
    bottom: 2px;
}