#myInput {
    display: none;
    width: 0;
    height: 0;
}

.fa-github,
.fa-linkedin{
	font-size: 20pt;
}
.navbar{
	font-family: 'Roboto', sans-serif;
	height: 63px;
	background-color: #005cbf;
	border-bottom: silver solid 5px;
	box-shadow: #005cbf inset;
}
@-webkit-keyframes blinker {
	from {opacity: 1.0;}
	to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

.welcome{
	display: inline-block;
	margin-left: 10px;
	font-size: 40px;
}
.introarrow{
	color: black;
}
.welcome:hover,
.introarrow:hover{
	opacity: 0.7;
}

.scrollarrowexperience{
	color: black;
}
.scrollarrowprojects,
.scrollarrowabout{
    color: white;
}

.scrollarrowexperience:hover,
.scrollarrowprojects:hover,
.scrollarrowabout:hover {
    color: rgba(0, 0, 0, 0.473);
    cursor: pointer;
}

.container {
		font-size: 26px;
}
.dropdown-menu{
	margin-top: 5px;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
}

input{
	display: none;
}
.mephoto {
    display: block;
    background-color: rgb(33, 90, 128);
    width: 15%;
    height: 15%;
		min-width: 300px;
		max-height: 475px;
		float: right;
		border-radius: 1%;
		border: silver solid 19px;
}

.copyright,
.photoscopy{
    text-align: center;
}

.phonename:hover,
.emailname:hover {
    cursor: pointer;
}


/*about*/

.abouttitle {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.marathon {
    max-width: 50%;
    max-height: 50%;
		font-size: 26px;
}

.introlist {
    text-align: left;
	 font-size: 26px;
}

.aboutlist {
    text-align: left;
		font-size: 26px;
}

.serbiaflag {
    width: 300px;
    height: 180px;
    display: inline-block;
}

.waterpolo1 {
    width: 500px;
    height: 450px;
    display: block;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
}

.waterpolo1:hover,
.marathon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.mephoto {
    background-color: rgb(33, 90, 128);
    width: 15%;
    height: 15%;
}

.copyright {
    text-align: left;
    bottom: 2px;
    right: 3px;
}

.photoscopy {
    text-align: left;
    bottom: 2px;
    left: 3px;
}

.phonename:hover,
.emailname:hover {
    cursor: pointer;
}


/*experience*/

.courselist {
    list-style-type: none;
		font-size: 22px;
}


/*projects*/

.backgrnd {
    background-color: #1aa3ff;
}

.dhmodestroy-img,
.mountainviews-img,
.flappyfuture-img{
	min-width: 350px;
	min-height: 350px;
	max-width: 350px;
	max-height: 350px;
}
.dhmodestroy-img:hover,
.mountainviews-img:hover,
.flappyfuture-img:hover{
	opacity: 0.7;
	cursor: pointer;
}

.link{
	color: white;
	text-decoration: underline;
}
.link:hover{
	color: white;
}


.projectinfo{
	text-align: left;
	padding: 20px;
	color: white;
	font-size: 25px;
}
.projecttitle {
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
		color: white;
}

.projectname{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	color: white
}

.skillstitle{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 60px;
}

.experiencetitle{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
}

.devicon {
	margin: 0;
	color: white;
	font-size: 9rem;
}
.modal-header{
	color: white;
	background-color: #005cbf;
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
}
.modal-body{
	color: white;
	background-color: #005cbf;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
}
.modal-footer{
	color: white;
	background-color: #005cbf;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
}
.body {
    font-family: 'Roboto', sans-serif;
}

.head{
	font-size: 50px;
	text-align: left;
}


#loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid rgb(15, 126, 160);
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid rgb(6, 36, 172);
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid rgb(28, 120, 148);
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: rgb(9, 81, 204);
    border-bottom-color: rgb(4, 52, 134);
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: rgb(106, 187, 212);
    border-bottom-color: rgb(4, 42, 99);
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: rgb(14, 175, 148);
    border-bottom-color: rgb(20, 168, 168);
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}


/*L

/*styles for experience.html*/


/*
.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}
*/


/* The horizontal line on the top of the device */


/*
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}
*/


/* The circle on the bottom of the device */


/*
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}*/


/*
.smartphone .content {
    width: 360px;
    height: 640px;
    background: white;
}
*/


/* The screen (or content) of the device */
